:root{
    --bg: #12161c;
    --border: #232a34;
}

.popup-cont{
    position: fixed;
    width: auto;
    height: auto;
    background-color: var(--bg);
    border: var(--border) 2px solid;
    padding: 7px 20px;
    border-radius: 9999px;
    z-index: 99999;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    animation: appear-effect 3.5s linear;
}


@keyframes appear-effect{
0.0%{top: 0.3277435643448754px}
0.4%{top: 1.3084060089276397px}
0.9%{top: 2.941814081222478px}
1.3%{top: 5.225040970777046px}
1.8%{top: 8.154270520442065px}
2.2%{top: 11.724649040461959px}
2.6%{top: 15.929605133574118px}
3.1%{top: 20.761989178896094px}
3.5%{top: 26.216978579370746px}
4.0%{top: 32.27349990520116px}
4.4%{top: 38.932632187195026px}
4.8%{top: 46.21145078806777px}
5.3%{top: 54.000920456513015px}
5.7%{top: 62.38589410156059px}
6.2%{top: 71.32599178161514px}
6.6%{top: 80.79829317617623px}
7.0%{top: 90.76936759418366px}
7.5%{top: 100px}
7.9%{top: 94.93624679714142px}
8.4%{top: 90.48754651086782px}
8.8%{top: 86.6633255914974px}
9.2%{top: 83.47107984843532px}
9.7%{top: 80.91723993729443px}
10.1%{top: 79.00763288477364px}
10.6%{top: 77.74632822291525px}
11.0%{top: 77.13641769705225px}
11.4%{top: 77.1800047677188px}
11.9%{top: 77.87751303976661px}
12.3%{top: 79.22814584799053px}
12.8%{top: 81.22974822053678px}
13.2%{top: 83.87963848109203px}
13.6%{top: 87.17240293484755px}
14.1%{top: 91.1011084716122px}
14.5%{top: 95.66415310139801px}
15.0%{top: 100px}
15.4%{top: 97.57478375142482px}
15.8%{top: 95.79476162347063px}
16.3%{top: 94.66058565493515px}
16.7%{top: 94.18454161518937px}
17.2%{top: 94.35908250076855px}
17.6%{top: 95.18702668846801px}
18.0%{top: 96.66803162642246px}
18.5%{top: 98.79950962326461px}
18.9%{top: 100px}
19.4%{top: 98.77474119203386px}
19.8%{top: 98.2012769343228px}
20.2%{top: 98.28105520528484px}
20.7%{top: 99.0151251455519px}
21.1%{top: 100px}
21.6%{top: 99.46995225132241px}
22.0%{top: 99.5934814365488px}
80%{ opacity: 1;}
100%{opacity: 0;}
}