<!-- templates/meals-search.html -->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ t("add-meal.head.title") }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="/static/css/styles-track-dialog.css">
  <link rel="stylesheet" href="/static/css/popup-styles.css">
  <link rel="stylesheet" href="/static/css/styles-track-meal-foods.css">
</head>

<body class="page">
  <header class="header">
    <a href="/" class="btn btn-back">{{ t("add-meal.header.back") }}</a>
    <h1 class="app-title">{{ t("add-meal.header.title") }}</h1>
  </header>

  <main class="container">
    <!-- Search -->
    <section class="card">
      <h2 id="search-title" style="font-size:16px;margin-bottom:8px;">{{ t("add-meal.search.title") }}</h2>

      <input id="search-query" class="gen-input" type="text" placeholder="{{ t('add-meal.search.placeholder') }}" autofocus>

    </section>

    <!-- Results -->
    <section id="results-section">
      <h2 id="results-title" style="font-size:16px;margin-bottom:8px;">{{ t("add-meal.results.title") }}</h2>

      <!-- {% if foods and foods|length > 0 %}
      {% for food in foods %}
      <div class="food-cont">
        <div class="food-cont-card">
          <h2 class="food-title">{{ food.name }} </h2>
          <h3 class="food-kcal">{{ t("add-meal.table.kcal") }}: {{ food.kcal }}</h3>
          <div class="food-macros">
            <p class="food-macros">{{ t("add-meal.table.protein") }}: {{ food.protein }}</p>
            <p class="food-macros">{{ t("add-meal.table.carbs") }}: {{ food.carbs }}</p>
            <p class="food-macros">{{ t("add-meal.table.fats") }}: {{ food.fats }}</p>
          </div>
        </div>

        <div class="food-track">
          <input class="gen-input q-input" type="number" step="0" value="0" placeholder="{{ t('add-meal.input.quantity') }}">
          <input class="gen-input dt-input" type="date">
          <button data-food-id="{{ food.id }}" type="submit" class="track-btn btn">{{ t('add-meal.action.track') }}</button>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p class="empty">{{ t("add-meal.results.empty") }}</p>
      {% endif %} -->

    </section>
  </main>

  <!-- <div style="display: none;" id="invisible-bg" onclick="occultTrackDialog()"></div>
  <div style="display: none;" class="card" id="track-meal-dialog">
    <form action="/meals/track/track-meal" method="post" class="form">


      <input style="display: none;" type="text" value="{{ query }}" name="query">
      <input style="display: none;" type="text" id="food_id" name="food_id">

      <label for="quantity">{{ t("add-meal.popup.quantity") }}</label>
      <input placeholder="Write quantity" type="number" id="quantity" name="quantity" min="1" required>

      <label for="datetime">{{ t("add-meal.popup.datetime") }}</label>
      <input type="datetime-local" value="{{ date }}" id="datetime" name="dt" required>

      <button style="margin-top: 20px; width: 100%;" type="submit" class="btn btn-primary">
        {{ t("add-meal.action.track") }}
      </button>
    </form>
  </div> -->

  <script>
    window.I18N = JSON.parse('{{ selected_lan | tojson | safe }}');
    window.t = (k) => window.I18N[k] || k
  </script>

  <script src="/static/js/add-meal/track-section.js"></script>
  <script src="/static/js/add-meal/foods-search.js"></script>
  <script src="/static/js/helpers/helpers.js"></script>


</body>

</html>