<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ t("food-list.head.title") }}</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
  <header class="header">
    <a href="/" class="btn btn-back">← {{ t("food-list.header.back") }}</a>
    <div class="app-title">{{ t("food-list.header.title") }}</div>
  </header>

  <main class="container">
    <div class="card">
      <h2 id="history-title">{{ t("food-list.body.heading") }}</h2>

      <!-- Search -->
      <section class="card" aria-labelledby="search-title">
        <h2 id="search-title" style="font-size:16px;margin-bottom:8px;">{{ t("food-list.search.title") }}</h2>
        <form style="display: flex; flex-direction: row;" action="/food/list/search" method="GET" role="search"
          autocomplete="off">
          <input id="search-query" name="query" type="text" placeholder="{{ t('food-list.search.placeholder') }}"
            value="{{ query or '' }}" required autofocus enterkeyhint="search">

          <button style="margin-left: 10px;" type="submit" aria-label="{{ t('food-list.search.button') }}">{{
            t("food-list.search.button") }}</button>
        </form>
      </section>

      {% if foods %}
      <div class="table-wrapper">
        <table class="food-table">
          <thead>
            <tr>
              <th>{{ t("food-list.table.name") }}</th>
              <th>{{ t("food-list.table.kcal") }}</th>
              <th>{{ t("food-list.table.protein") }}</th>
              <th>{{ t("food-list.table.carbs") }}</th>
              <th>{{ t("food-list.table.fats") }}</th>
              <th>{{ t("food-list.table.delete") }}</th>
              <th>{{ t("food-list.table.edit") }}</th>
              <th>TESTING ONLY</th>
              <th>TESTING 2 ONLY</th>

            </tr>
          </thead>
          <tbody>
            {% for food in foods %}
            <tr>
              <td>{{ food.name }}</td>
              <td>{{ food.kcal }}</td>
              <td>{{ food.protein }}</td>
              <td>{{ food.carbs }}</td>
              <td>{{ food.fats }}</td>
              <td>
                <form method="post" action="/food/delete-food">
                  <input type="hidden" name="food_id" value="{{ food.id }}">
                  <button data-name="{{ food.name }}" onclick="checkDelete(event, this, 'food')" class="btn, btn-delete"
                    type="submit">{{ t("food-list.actions.delete") }}</button>
                </form>
              </td>
              <td>
                <form method="get" action="/food/edit-food">
                  <input type="hidden" name="food_id" value="{{ food.id }}">
                  <button data-name="{{ food.name }}" class="btn, btn-delete" type="submit">{{ t("food-list.table.edit")
                    }}</button>
                </form>
              </td>
              <td>{{ food.id }}</td>
              <td><input data-food-id="{{ food.id }}" type="color" value="{{ food.color }}"> </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <p class="empty">{{ t("food-list.body.no-foods") }}</p>
      {% endif %}
    </div>
  </main>

  <script src="/static/js/list-foods/i18n.js"></script>
  <!-- <script src="/static/js/list-foods/delete-check.js"></script> -->
  <script src="/static/js/list-foods/change-color.js"></script>

</body>

</html>